.ant-table-thead {
  .ant-table-cell {
    background: #ffffff;
  }

  tr:hover {
    background: #ffffff;
  }
}

.ant-table-title {
  font-weight: bold;
  color: white;
  font-size: 16px;
  text-align: center;
}
