.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;;

  & & {
    &__avatar {
      margin-bottom: 24px;
    }

    &__detail {
      margin-bottom: 32px;

      span {
        display: block;
        text-align: center;
      }
    }
  }
}
