.scheduling-analysis {
    .ant-table-title {
      background: #FFC733;
    }
  
    .ant-table-thead {
      .ant-table-cell {
        display: none;
      }
    }
  }
  .floatingTable{
    position: absolute;
    right: 0;
    bottom: 0;
    div{
      border-left: 1px solid #f0f0f0;
      padding: 8.5px;
    }
  }
  
