.app-container {
  .logo {
    height: 74px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .site-layout .site-layout-background {
    background: #fff;
  }
}
