.reporting-container {
  .border-bottom {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #f0f0f0;
  }

  .search-result-list {
    padding: 0 15px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  .mb-15 {
    margin-bottom: 15px;
  }

  .mb-10 {
    margin-bottom: 10px;
  }
}
