.reporting-container {
  .border-bottom {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #f0f0f0;
  }

  .search-result-list {
    padding: 0 15px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  .mb-15 {
    margin-bottom: 15px;
  }

  .mb-10 {
    margin-bottom: 10px;
  }
}

.ae_style{
  color: orange;
  background-color: #dddddd;
  // outline:1px dashed #000;
  // outline-offset:-5px;
  td{
    border-top: 1px dashed #000 !important;
    border-bottom: 1px dashed #000 !important;
  }
}

.bluerow_style{
  color: blue;
  td{
    border-top: 2px dashed #000 !important;
  }
}
.dashed_row{
  td{
    border-top: 1px dashed #000 !important;
  }
}
p{
   margin-bottom: 0;
}

.print-window {
  padding: 32px;
  font-size: 10px !important;
  h3{
    font-size: 20px;
  }

  .ant-table-thead{
    font-size: 12px !important;
    & > tr > th{
      font-size: 12px !important;
    }
  }
  .ant-table-tbody{
    font-size: 10px !important;
    & > tr > th{
      font-size: 10px !important;
    }
  }
}